<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">
    <title>Sudoku</title>

    <link href="./static/sudoku.css" rel="stylesheet"></head>
<body>
<form action="" method="post">
  <table>
    <tr>
      <td> <input type="number" id="td11" name="td11" min=1 max=9 value=5> </td>
      <td> <input type="number" id="td12" name="td12" min=1 max=9 > </td>
      <td> <input type="number" id="td13" name="td13" min=1 max=9 > </td>
      <td> <input type="number" id="td14" name="td14" min=1 max=9 value=6> </td>
      <td> <input type="number" id="td15" name="td15" min=1 max=9 > </td>
      <td> <input type="number" id="td16" name="td16" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td17" name="td17" min=1 max=9 > </td>
      <td> <input type="number" id="td18" name="td18" min=1 max=9 > </td>
      <td> <input type="number" id="td19" name="td19" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td21" name="td21" min=1 max=9 > </td>
      <td> <input type="number" id="td22" name="td22" min=1 max=9 value=3> </td>
      <td> <input type="number" id="td23" name="td23" min=1 max=9 > </td>
      <td> <input type="number" id="td24" name="td24" min=1 max=9 > </td>
      <td> <input type="number" id="td25" name="td25" min=1 max=9 value=7> </td>
      <td> <input type="number" id="td26" name="td26" min=1 max=9 value=5> </td>
      <td> <input type="number" id="td27" name="td27" min=1 max=9 > </td>
      <td> <input type="number" id="td28" name="td28" min=1 max=9 value=4> </td>
      <td> <input type="number" id="td29" name="td29" min=1 max=9 value=9> </td>
    </tr>
    <tr>
      <td> <input type="number" id="td31" name="td31" min=1 max=9 > </td>
      <td> <input type="number" id="td32" name="td32" min=1 max=9 > </td>
      <td> <input type="number" id="td33" name="td33" min=1 max=9 > </td>
      <td> <input type="number" id="td34" name="td34" min=1 max=9 value=9> </td>
      <td> <input type="number" id="td35" name="td35" min=1 max=9 value=4> </td>
      <td> <input type="number" id="td36" name="td36" min=1 max=9 value=8> </td>
      <td> <input type="number" id="td37" name="td37" min=1 max=9 > </td>
      <td> <input type="number" id="td38" name="td38" min=1 max=9 > </td>
      <td> <input type="number" id="td39" name="td39" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td41" name="td41" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td42" name="td42" min=1 max=9 value=5> </td>
      <td> <input type="number" id="td43" name="td43" min=1 max=9 value=7> </td>
      <td> <input type="number" id="td44" name="td44" min=1 max=9 > </td>
      <td> <input type="number" id="td45" name="td45" min=1 max=9 > </td>
      <td> <input type="number" id="td46" name="td46" min=1 max=9 > </td>
      <td> <input type="number" id="td47" name="td47" min=1 max=9 > </td>
      <td> <input type="number" id="td48" name="td48" min=1 max=9 > </td>
      <td> <input type="number" id="td49" name="td49" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td51" name="td51" min=1 max=9 > </td>
      <td> <input type="number" id="td52" name="td52" min=1 max=9 value=9> </td>
      <td> <input type="number" id="td53" name="td53" min=1 max=9 value=6> </td>
      <td> <input type="number" id="td54" name="td54" min=1 max=9 > </td>
      <td> <input type="number" id="td55" name="td55" min=1 max=9 > </td>
      <td> <input type="number" id="td56" name="td56" min=1 max=9 > </td>
      <td> <input type="number" id="td57" name="td57" min=1 max=9 value=2> </td>
      <td> <input type="number" id="td58" name="td58" min=1 max=9 > </td>
      <td> <input type="number" id="td59" name="td59" min=1 max=9 value=8> </td>
    </tr>
    <tr>
      <td> <input type="number" id="td61" name="td61" min=1 max=9 value=2> </td>
      <td> <input type="number" id="td62" name="td62" min=1 max=9 > </td>
      <td> <input type="number" id="td63" name="td63" min=1 max=9 > </td>
      <td> <input type="number" id="td64" name="td64" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td65" name="td65" min=1 max=9 value=6> </td>
      <td> <input type="number" id="td66" name="td66" min=1 max=9 value=9> </td>
      <td> <input type="number" id="td67" name="td67" min=1 max=9 > </td>
      <td> <input type="number" id="td68" name="td68" min=1 max=9 value=5> </td>
      <td> <input type="number" id="td69" name="td69" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td71" name="td71" min=1 max=9 value=4> </td>
      <td> <input type="number" id="td72" name="td72" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td73" name="td73" min=1 max=9 > </td>
      <td> <input type="number" id="td74" name="td74" min=1 max=9 value=3> </td>
      <td> <input type="number" id="td75" name="td75" min=1 max=9 > </td>
      <td> <input type="number" id="td76" name="td76" min=1 max=9 value=7> </td>
      <td> <input type="number" id="td77" name="td77" min=1 max=9 > </td>
      <td> <input type="number" id="td78" name="td78" min=1 max=9 value=6> </td>
      <td> <input type="number" id="td79" name="td79" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td81" name="td81" min=1 max=9 > </td>
      <td> <input type="number" id="td82" name="td82" min=1 max=9 value=2> </td>
      <td> <input type="number" id="td83" name="td83" min=1 max=9 > </td>
      <td> <input type="number" id="td84" name="td84" min=1 max=9 value=5> </td>
      <td> <input type="number" id="td85" name="td85" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td86" name="td86" min=1 max=9 > </td>
      <td> <input type="number" id="td87" name="td87" min=1 max=9 value=3> </td>
      <td> <input type="number" id="td88" name="td88" min=1 max=9 value=7> </td>
      <td> <input type="number" id="td89" name="td89" min=1 max=9 > </td>
    </tr>
    <tr>
      <td> <input type="number" id="td91" name="td91" min=1 max=9 value=7> </td>
      <td> <input type="number" id="td92" name="td92" min=1 max=9 > </td>
      <td> <input type="number" id="td93" name="td93" min=1 max=9 value=3> </td>
      <td> <input type="number" id="td94" name="td94" min=1 max=9 value=4> </td>
      <td> <input type="number" id="td95" name="td95" min=1 max=9 > </td>
      <td> <input type="number" id="td96" name="td96" min=1 max=9 > </td>
      <td> <input type="number" id="td97" name="td97" min=1 max=9 value=1> </td>
      <td> <input type="number" id="td98" name="td98" min=1 max=9 value=8> </td>
      <td> <input type="number" id="td99" name="td99" min=1 max=9 > </td>
    </tr>
  </table>
  <button type="submit">Solve</button>
  <button type="reset">Reset</button>
</form>
</body>
</html>